<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    th:fragment="main-fragment (title, otherStaticResources, header, nav, mainContent, footer)">
<head>
<meta charset="UTF-8" />

 <!-----------------------  Bootstrap Libraries  ------------------->
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="js/bootstrap.min.css" rel='stylesheet'/>
    <link href="js/bootstrap.min.js" rel='stylesheet'/>
    
    <!-----------------------  JQuery Library  ------------------->
    <script src="js/jquery.min.js" ></script>
    
    <!-----------------------  AngularJS Library ------------------->
    <script src="js/angular.min.js" ></script>
    
    <!-----------------------  JQuery methodes file   ------------------->
    <script src="js/controleur.js" ></script>
    
    <!-----------------------  Icons library  ------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   	
   	<!-----------------------  Alert libraries  ------------------->
    <link href="js/sweetalert.css" type="text/css" rel="stylesheet">
    <script src="js/sweetalert.min.js" type="text/javascript"></script>

 
<link rel="stylesheet" type="text/css" th:href="@{/css/indexpage.css}" href="../../static/main.css"/>
	 <title>Inventaire</title>
	<meta http-equiv="pragma" content="no-cache">	
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">


    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	 <header th:fragment="header">
		<a><img th:src="@{/images/logo.png}" style="width:100px;height:60px; position: relative; ;"></a> 
      <a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</a> <a th:href="@{/categories/list}" style="color: white;">Catégorie </a> |
       <a th:href="@{/fournisseurs/list}" style="color: white;">Fournisseur </a> |
        <a th:href="@{/consulterCompte}" style="color: white;">Caisse </a> |
        <a th:href="@{/consulterCompte}" style="color: white;">Consultaion de compte</a> |
    	 <a th:href="@{/login?logout}" style="color: white;">Déconnecter</a></li>
			
    </header>

    <section>
        <nav >
           <div class=" text-center">
    			<div class="col-sm-12 btn bg-danger" >
					<a href="/produits/list"><img th:src="@{/images/inventaireButton.png}" class="inventaire" style="width:100px;height:100px; margin-left:0px ;"></a> </br>
    				<span class="text-light"><B>Inventaire</B></span>
    			</div>
    			<br /><br />
    			<div class="col-sm-12 btn bg-success" >
					<a href="/achats/list"><img th:src="@{/images/Purchase.png}" class="purchase" style="width:100px;height:100px; margin-left:0px ;"></a><br />
    				<span class="text-light"><B>Achat</B></span>
    			</div>
    			<br /><br />
    			<div class="col-sm-12 btn bg-info" >
					<a href="/factures/list"><img th:src="@{/images/invHistorique.png}" class="historique" style="width:100px;height:100px; margin-left:0px ;"></a><br />
    				<span class="text-light"><B>Factures</B></span>
    			</div>
				<br /><br />
				<div class="col-sm-12 btn bg-success" >
					<a href="/clients/list"><img th:src="@{/images/client.png}" class="client" style="width:100px;height:100px; margin-left:0px ;"></a><br />
    				<span class="text-light"><B>Clients</B></span>
    			</div>
    			<br /><br />
        </nav>
 

		<article>
	<div class="container my-5">
	<h3> Modifier Catégorie</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#"
						th:action="@{/fournisseurs/update/{id}(id=${fournisseur.id_fournisseur})}"
						th:object="${fournisseur}" method="post">
						<div class="row">
						
						<div class="form-group col-md-8">
								<label for="id_fournisseur" class="col-form-label" style="text-align: center;"></label> <input 
									type="number" th:field="*{id_fournisseur}" class="form-control" id="id_fournisseur"
									placeholder="id_fournisseur"> <span
									th:if="${#fields.hasErrors('id_fournisseur')}" th:errors="*{id_fournisseur}"
									class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-8">
								<label for="nom" class="col-form-label" style="text-align: center;">Nom du fournisseur</label> <input 
									type="text" th:field="*{nom}" class="form-control" id="nom"
									placeholder="nom"> <span
									th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"
									class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-8">
								<label for="telephone" class="col-form-label" style="text-align: center;">Téléphone</label> <input 
									type="text" th:field="*{telephone}" class="form-control" id="telephone"
									placeholder="telephone"> <span
									th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"
									class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-8">
								<label for="adresse" class="col-form-label" style="text-align: center;">Adresse</label> <input 
									type="text" th:field="*{adresse}" class="form-control" id="adresse"
									placeholder="adresse"> <span
									th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"
									class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-8">
								<label for="identifiant" class="col-form-label" style="text-align: center;">Identifiant</label> <input 
									type="text" th:field="*{identifiant}" class="form-control" id="identifiant"
									placeholder="identifiant"> <span
									th:if="${#fields.hasErrors('identifiant')}" th:errors="*{identifiant}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Modifier fournisseur">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</article>
</body>
</html>